function weekOnPageLoad(passed_date) {
  if (typeof passed_date !== 'undefined') {
    MockDate.set(passed_date);
  }

  var date = new Date();
  var message = weekOf(date);
  $('#date').html(message);
}

function getEndOfCurrentWeek() {
  var date = $('#date').text().split(' - ')[1];
  return date;
}

function navigateDate(val) {
  var endOfCurrentWeek = Date.parse(getEndOfCurrentWeek());
  var newDate = val == -1 ? endOfCurrentWeek.previous().week() : endOfCurrentWeek.next().week();
  var message = weekOf(newDate)
  return message
}

function addEvents() {
  $('#previous').off("click").click(function () {
    $('#date').html(navigateDate(-1));
    updateApi(getEndOfCurrentWeek());
  });
  $('#next').off("click").click(function () {
    $('#date').html(navigateDate());
    updateApi(getEndOfCurrentWeek());
  });
}

function loadCurrentBookings(response) {
  var res = response;
  res.items.forEach(function (item) {
    var card = ['#card', item.id].join('-');
    $(card + " .content").append('<div class="with-scroll"></div>');
    item.slots.forEach(function (slot) {
      $(card + " .content .with-scroll").append(setHtml(slot));
    });
  });
}

function updateCurrentBookings(response) {
  var res = response;
  res.items.forEach(function (item) {
    var card = ['#card', item.id].join('-');
    $(card + " .content .with-scroll").empty();
    item.slots.forEach(function (slot) {
      $(card + " .content .with-scroll").append(setHtml(slot));
    });
  });
}

function setHtml(slot) {
  return '<div class="action" ' +
      'data-state="' + slot.state + '" ' +
      'data-client="' + slot.info.client + '" ' +
      'data-booking_time="' + slot.info.booking_time + '" ' +
      'id="action_' + slot.info.id + '" ' +
      'style="background-color: ' +
      getBackgroundColor(slot) + '">' +
      getInfo(slot) +
      '</div>'
}

function getBackgroundColor(obj) {
  var currentDate = new Date.parse(getEndOfCurrentWeek());
  var color = (obj.state == 'booked') ? 'red' : 'green';
  if (currentDate < today()) {
    color = 'grey';
  }
  return color;
}

function getInfo(obj) {
  var message = (obj.info.client != null) ? setSlotMessage(obj) : obj.info.time;
  return message;
}

function setSlotMessage(obj) {
  var booking_times = obj.info.booking_time.split(' - ');
  var message;
  message = [obj.info.time, '<%= t('dashboard.group')  %> ' + obj.info.client, '<br>', '<%= t('dashboard.time_start')  %> ' + booking_times[0], '<%= t('dashboard.time_end')  %>' + booking_times[1]].join(' ');
  return message;
}
$(document).ready(function () {
  weekOnPageLoad();
  addEvents();
  queryApi(Date.today().sv_format())
});
