.send_note
  - unless current_user.nil? || current_user.facility.nil? || current_user.superadmin?
    .facility_id{id: "#{current_user.facility.id}"}
    Send a note to all rooms in this facility.
    // The above text obviously needs to go into the translation data yamls
    = form_tag note_path, id: 'send_note', method: :post, remote: true do
      = text_field_tag 'note', nil, placeholder: 'Your message here'
      = submit_tag 'Send', id: 'start_button', class: 'button'
    .note_flash
