.send_note
  Send a note to all rooms in this facility.
  // The above text obviously needs to go into the translation data yamls
  = form_tag note_path, id: 'send_note', remote: true do
    = hidden_field_tag 'note', true
    = text_field_tag 'note', nil, placeholder: 'Your message here', class: 'form-control code'
    = submit_tag 'Send', id: 'start_button', class: 'btn btn-primary btn-lg btn-block'