%h3 Klicka på rummen ni vill boka eller göra en ändring.
%div{style: 'font-size: 25px'}
  %span.fi-previous#previous{style: 'display: inline'}
  %span#date
  %span.fi-next#next
= render 'dashboard/cards'
:javascript


