%h3
  = t('dashboard.title')
%div{style: 'font-size: 25px', class: 'noselect'}
  %span.fi-previous#previous{style: 'display: inline'}
  %span#date
  %span.fi-next#next
= render partial: 'dashboard/cards'
= render partial: 'dashboard/modal'

%script
  = render partial: 'dashboard/dashboard.js.erb'
