<<<<<<< HEAD
%h3 Klicka på rummen ni vill boka eller göra en ändring.
=======
%h3= I18n.translate('bookingz_ui.dashboard.top_message')
%div{style: 'font-size: 25px'}
  %span.fi-previous#previous{style: 'display: inline'}
  %span#date
  %span.fi-next#next
>>>>>>> c5fa6b3... adds basic translation to dashboard
= render 'dashboard/cards'
