# The following values are only necessary for deployment.
# Contact the project admin to get them if you want to deploy some changes to
# the production server
PRODUCTION_SERVER=xxx.xxx.xxx.xxx
DEPLOY_USER=some_user
APP_PATH=/path/to/app
BRANCH=vcs_branch
