%h3 Facilities
.row
  - @facilities.each do |facility|
    .large-12.column
      %div{id: "facility_#{facility.id}"}
        %h4
          = facility.name
        - if facility.users
          - facility.users.each do |user|
            = user.email
        - if unassigned_users_select_options.any?
          = render partial: 'assign_user_form', locals: {facility: facility}

