%h2.headline
  This application was created by CA Labs
%p
  For more information please visit
  = link_to 'Craft Academy', '//craftacademy.se'
%p
  You can also read more about CA Labs here
  = link_to 'Introducing Craft Academy Labs', '//blog.craftacademy.se/introducing-craft-academy-labs/'
