
$menu-background: #cfcfcf;
.title-bar {
  background: #333;
  padding: 0.9rem;
}

.top-bar {
  background: $menu-background;

  ul {
    background: $menu-background;

    li {
      background: $menu-background;

      a {
        color: #fff;
      }
    }
  }
}