/* STYLE 1 */

.pricing {
  &.style-1 .price, &.style-2 .plan-title {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  &.style-3 {
    .plan-title {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      padding: 10px 0;
    }
    .price {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    .plan-signup-btn {
      position: absolute;
      bottom: 80px;
      right: 20px;
    }
  }
  .price {
    padding: 15px 0;
    h4, h5 {
      text-align: center;
      color: white;
    }
  }
  .plan-title h5 {
    text-align: center;
  }
  .price span {
    display: inline-block;
    position: relative;
  }
  .plan-title span {
    display: inline-block;
    position: relative;
    &.plan {
      font-size: 25px;
      font-weight: 200;
    }
  }
  .price span {
    &.amount {
      font-size: 50px;
      font-weight: 100;
    }
    &.period {
      margin-left: -10px;
    }
    &.currency {
      letter-spacing: -6px;
      top: -20px;
      font-size: 16px;
    }
    &.period {
      font-size: 16px;
    }
  }
  .collection li.collection-item:hover {
    background: #f5f5f5;
  }
}

.dark-grey-text {
  color: #121212;
}