//@import "foundation_and_overrides";
//@import "settings";
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
//@import "header";
//@import "footer";
@import "card";

.row {
  margin-bottom: 20px !important;
}

.content-wrapper {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.with-scroll {
  //height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  background: ivory;
}

.noselect {
  -webkit-user-select: none;
}

.datetimepicker td span.disabled, .datetimepicker th span.disabled{
  color: lightgrey;
}

.datetimepicker th.switch {
  //This is a hack to make the date in picker disappear
  color: white;
}
