//@import "foundation_and_overrides";
//@import "settings";
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
//@import "header";
//@import "footer";
@import "card";

html {
  color: hsla(0, 0%, 27%, 0.8);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.with-scroll {
  //height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  background: ivory;
}

.noselect {
  -webkit-user-select: none;
}


.parallax-container {
  margin: 0 -100%; /* old browsers fallback */
  margin: -1vw calc(50% - 50vw);
}