- flash.each do |key, value|
  %div{class: "callout #{callout(key)}", id: 'flash-message', data: { closable: true }}
    = value
    %button{class: 'close-button', data: { close: true }, type: 'button'}
      %span{ 'aria-hidden' => true }
        &times;
