%footer.footer
  .row
    .small-12.columns
      %p.slogan Bookingz
      %p.links
        %a{:href => "#"} Home
        %a{:href => "#"} Blog

      %p.copywrite Copywrite Craft Academy Labz © 2016
