%footer.footer
  .row
    .small-12.columns
      %p.slogan
        = application_name
      %p.links
        = link_to 'Home', '#'
        - if current_user
          = link_to 'Instructions', page_path('instructions')
      %p.copywrite
        = copyright_message
