.row
  .col.s12.m6
    / START PRICING PLAN
    .card.pricing.style-1.z-depth-4
      / START PRICE INFO DIV.
      .price.waves-effect.waves-block.waves-light.yellow.darken-2
        %h4.dark-grey-text
          %span.currency $
          %span.amount 55
          %span.period /mo
        %p
          %span.period or $49/mo if billed yearly
      / END PRICE INFO DIV.
      .card-content
        / START FEATURE LIST
        %ul.collection
          %li.collection-item.center-align
            %strong STARTER
          %li.collection-item.left-align
            %b Admin Access
            %p Administrative dashbord with full access to a variety of tools to organize and maintan your facility
          %li.collection-item.left-align
            %b Push notifications
            %p Push out notifications to all tablets in your facility
          %li.collection-item.left-align
            %b Up to 10 rooms
            %p Handle up to 10 rooms. Add more rooms on demand for 10 USD/month
          %li.collection-item.left-align
            %b 24/7
            Support

  -#.plan-signup-btn
    -#  %a.btn-large.waves-effect.waves-block.waves-light.no-margin.white-text.yellow.darken-2{:href => "#"}
    -#    %span.dark-grey-text Sign Up

  .col.s12.m6
    / START PRICING PLAN
    .card.pricing.style-1
      / START PRICE INFO DIV.
      / CHANGE COLOR BY CHANGING LAST 2 CLASSES (teal lighten-1) AVAILABLE COLOR CLASSES LISTED HERE http://materializecss.com/color.html
      .price.waves-effect.waves-block.waves-light.teal.lighten-1
        %h4.dark-grey-text
          %span.currency $
          %span.amount 120
          %span.period /mo
        %p
          %span.period or $99/mo if billed yearly
      / END PRICE INFO DIV.
      .card-content
        / START FEATURE LIST
        %ul.collection
          %li.collection-item.center-align
            %strong ENTERPRISE
          %li.collection-item.left-align
            %b Admin Access
            %p Administrative dashbord with full access to a variety of tools to organize and maintan your facility
          %li.collection-item.left-align
            %b Push notifications
            %p Push out notifications to all tablets in your facility
          %li.collection-item.left-align
            %b UNLIMITED
            no of rooms
            %p Handle up to 10 rooms. Add more rooms on demand for 10 USD/month
          %li.collection-item.left-align
            %b 24/7
            Support
